<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table [value]="businessPartnerFacade.getBusinessPartners()" [paginator]="true" [selection]="selectedEntity"
                     (onRowSelect)="selectEntity($event)" (onRowUnselect)="unselectEntity()"
                     selectionMode="single" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ 'businesspartners.table.header.name' | translate }}</th>
                        <th>{{ 'businesspartners.table.header.description' | translate }}</th>
                        <th>{{ 'businesspartners.table.header.street' | translate }}</th>
                        <th>{{ 'businesspartners.table.header.city' | translate }}</th>
                        <th>{{ 'businesspartners.table.header.country' | translate }}</th>
                        <th>{{ 'businesspartners.table.header.tocontactpersons' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-partner>
                    <tr [pSelectableRow]="partner">
                        <td>{{ partner.name }}</td>
                        <td>{{ partner.description }}</td>
                        <td>{{ partner.address.street }} {{partner.address.houseNumber}}</td>
                        <td>{{ partner.address.city }}</td>
                        <td>{{ partner.address.country }}</td>
                        <td><button role="button" pButton (click)="navigateToContactPersons(partner.id)"><span class="pi pi-arrow-right"></span></button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        @if (authState.userCanEdit()) {
            <div class="card col-12">
                <form class="col-12">
                    <div class="flex flex-column gap-2 mb-2">
                        <label for="name" class="mt-2">{{ 'businesspartners.form.label.name' | translate }}</label>
                        <input pInputText type="text" class="form-control" id="name" [(ngModel)]="selectedEntity.name"
                               name="name"
                               required>
                        <label for="description" class="mt-2">{{ 'businesspartners.form.label.description' | translate }}</label>
                        <input pInputText type="text" class="form-control" id="description"
                               [(ngModel)]="selectedEntity.description"
                               name="description" required>
                    </div>
                    <im-address-form [(address)]="selectedEntity.address"></im-address-form>
                    @if (selectedEntity.id) {
                        <button pButton type="button" class="btn btn-primary mr-1" name="update"
                                (click)="updateBusinessPartner(selectedEntity)">{{ 'businesspartners.form.button.update' | translate }}
                        </button>
                        <button pButton type="button" class="btn btn-danger" name="delete"
                                (click)="deleteBusinessPartner(selectedEntity)" [disabled]="selectedEntity.contactPersons.length > 0 || selectedEntity.invoices.length > 0">{{ 'businesspartners.form.button.delete' | translate }}
                        </button>
                    } @else {
                        <button pButton type="button" class="btn btn-primary" name="create"
                                (click)="createBusinessPartner(selectedEntity)">{{ 'businesspartners.form.button.create' | translate }}
                        </button>
                    }
                </form>
            </div>
        }
    </div>
</div>
